* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.menu {
  width: 774px;;
  height: 122px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #515151;
  cursor: pointer;
  margin-top: 34px;
  margin-left: 20px;
}

a {
    margin-left: 20px;
}

.login {
    width: 120px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #665AE1;
    border-radius: 30px;
    border: none;

}
